/* CSS declarations go here */

.accounts-dialog {
	background: #333;
	color: white;
}

.bet {
	padding: 10px;
	border-bottom: 1px solid #eee;
}

input.placeBet {
	color: black;
}

#placed {
	background-color: green;
}
