<head>
  <title>betcoin</title>
</head>

<body>
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1><a href="#">Betcoins</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		</ul>
		<section class="top-bar-section">
	    <ul class="right">
	      <li class="active"><a href="#">Right Button Active</a></li>
	      <li class="has-dropdown">
	        <a href="#">Right Button with Dropdown</a>
	        <ul class="dropdown">
	          <li><a href="#">First link in dropdown</a></li>
	        </ul>
	      </li>
	    </ul>
	    <ul class="left">
	      <li><a href="#">Left Nav Button</a></li>
	    </ul>
	  </section>
	</div>

	{{loginButtons}}

  {{> start }}
</body>

<template name="start">
	<div class="row">
		<div class="large-12 columns">
		 	{{#each bets}}
  				<h1>{{text}}</h1>
  				<h2>
  				{{#each options}}
  					{{text}}
  				{{/each}}
  				</h2>
  			{{/each}}
		  <input type="button" value="Click" />
	  </div>
  </div>
</template>
