<head>
  <title>betcoin</title>
</head>

<body>
	{{> header }}
	
	<div class="row">
		<div class="large-12 columns">

			<div class="row">
				<div class="large-8 columns">
					{{#if show "createBet"}}
						{{> start}}
					{{/if}}
					
					{{#if show "listBets"}}
						{{> listBets}}
					{{/if}}
					{{#if show "profile"}}
						{{> profile}}
					{{/if}}
				</div>

				<div class="large-4 columns">
				{{> userBets}}
		  	{{> userList}}
			  </div>
			</div>
		</div>
	</div>
</body>

<template name="listBets">
	<h3>List bets</h3>
  {{#each bets}}
	  <div class="row">
	    <div class="large-11 columns">
	    	<div class="bet">
	    		<strong>Bet on:</strong>
		      <span>{{text}}</span>
	        <div>
	          <input style="display:none" id="betId" value="{{_id}}">
	          <span>Place your bet:</span>
	          <span>{{ amount }} B's</span>
	          <ul class="button-group">
							{{#each options}}
								<li>
									<a type="button" class="button tiny placeBet">{{text}}</a>
								</li>
		        	{{/each}}
	        	</ul>
	        </div>
        </div>
    	</div>
    </div>
	{{/each}}
</template>

<template name="start">
	<h3>Create a new betting pool!</h3>
	<form>
		<div class="row">
			<div class="large-12 columns">
				<label>
					What do you want to bet on?
					<input type="text" id="text" placeholder="Which country will be first to land on mars?">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<label>
					Either
					<input type="text" id="option1" placeholder="China">
				</label>
			</div>
			<div class="large-6 columns">
				<label>
					Or
					<input type="text" id="text" placeholder="Christian Augustinson">
				</label>
			</div>
		</div>
    <input type="button" id="addBet" class="button" value="Publish the bet" />
	<form>
</template>
