<head>
  <title>betcoin</title>
</head>

<body>
	{{> header }}
	
	<div class="row">
		<div class="large-12 columns">

			<div class="row">
				<div class="large-8 columns">
					{{#if show "createBet"}}
						{{> start}}
					{{/if}}
					
					{{#if show "listBets"}}
						{{> listBets}}
					{{/if}}
					{{#if show "profile"}}
						{{> profile}}
					{{/if}}
				</div>

				<div class="large-4 columns">
		  	{{> userList}}
			  </div>
			</div>
		</div>
	</div>
</body>

<template name="header">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1><a href="#">Betcoins</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		</ul>
		<section class="top-bar-section">
	    <ul class="right">
	      <li class="active"><a href="#">Right Button Active</a></li>
	    </ul>
	    <ul class="left">
	      <li>{{ loginButtons}}</li>
	      <li><a href="#" id="showCreateBet">New bet</a></li>
	      <li><a href="#" id="showListOfBets">List bets</a></li>
	      <li><a href="#" id="showProfile">Profile</a></li>
	    </ul>
	  </section>
	</div> 
</template>

<template name="listBets">
	<h3>List bets</h3>
  {{#each bets}}
  <div class="row">
    <div class="large-11 columns">
      <h1>{{text}}</h1>
        <h4>
          {{#each options}}
            {{text}}
          {{/each}}
        </h4>
      </div>
    </div>
  </div>
	{{/each}}
</template>

<template name="start">
	<h3>Create a new betting pool</h3>
		<form>
			<input type="text" id="text">
			<input type="text" id="option1">
			<input type="text" id="option2">
	    <input type="button" id="addBet" value="Add bet" />
	<form>
</template>